<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBu_qtecFrRe0aWTk2PbZJ-32ntptVwFb8</string>
	<key>GCM_SENDER_ID</key>
	<string>160266038406</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>jp.chigusa.chigusaiApp62</string>
	<key>PROJECT_ID</key>
	<string>chigusai62-3e683</string>
	<key>STORAGE_BUCKET</key>
	<string>chigusai62-3e683.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:160266038406:ios:a85ab88ca771820e0bf507</string>
</dict>
</plist>